# The number of milliseconds of each tick
# 每一个心跳间隔 ms
tickTime=2000


# The number of ticks that the initial 
# synchronization phase can take
# 初始化时的最大等待时间，心跳次数
initLimit=10


# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
# 集群内节点发消息的等待时间阈值，心跳次数
syncLimit=5


# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
# 文件目录，没什么好说的
dataDir=/opt/modules/zookeeper-3.4.5-cdh5.10.0/zkData

# 主服务的端口
# the port at which the clients will connect
clientPort=2181

# 节点：主机名：节点间通信的端口：选举leader的端口
server.1=hadoop-1:2888:3888
server.2=hadoop-2:2888:3888
server.3=hadoop-3:2888:3888

#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
